<h1 style="text-align: center" mat-dialog-title>Cập nhập người dùng</h1>
<div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Mã Sinh viên" [(ngModel)] = 'data.studentId'>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Tên sinh viên" [(ngModel)] = 'data.name'>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Số điện thoại" [(ngModel)] = 'data.phone'>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Email" type="email" [(ngModel)] = 'data.email'>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Nơi sinh" type="text" [(ngModel)] = 'data.from'>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Ngày sinh" [(ngModel)] = 'data.birthDate'>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <section style="text-align: center">
        <mat-radio-group [(ngModel)]="data.role">
        <mat-radio-button class="example-margin" value="judge">Judge</mat-radio-button>
        </mat-radio-group>
    </section>
    <br>
</div>
<div mat-dialog-actions>
  <button style="background-color: green;color: white" mat-button [mat-dialog-close]="data" cdkFocusInitial>Cập nhập</button>
  <button style="left:58%;background-color: red;color: white" mat-button (click)="onNoClick()">Đóng</button>

</div>
