
<mat-card-header>
  <mat-card-title>
        <div class="card-icon"><i class="material-icons">assignment</i></div>
  </mat-card-title>
  <h4 style="padding:15px">Quản lí người dùng</h4>
  <mat-card-subtitle>
  </mat-card-subtitle>
</mat-card-header>

<mat-card-content>
        <div class="example-container ">
          <table mat-table [dataSource]="dataSource">
      
            <ng-container matColumnDef="position">
              <th class="thhead" mat-header-cell *matHeaderCellDef style="width: 50px"> STT </th>
              <td class="tdh" mat-cell *matCellDef="let element;let i = index"
              [style.color] = "element.role=='admin'?'white':''"
              >{{i+1}} </td>
            </ng-container>
      
            <ng-container matColumnDef="name">
              <th class="thhead" mat-header-cell *matHeaderCellDef style="width: 16%;"> Họ Tên </th>
              <td class="tdh" mat-cell *matCellDef="let element"
              [style.color] = "element.role=='admin'?'white':''"
              > {{element.name}} </td>
            </ng-container>
      
            <ng-container matColumnDef="studentId">
              <th  class="thhead" mat-header-cell *matHeaderCellDef style="width: 14%;"> Mã sinh viên </th>
              <td class="tdh" mat-cell *matCellDef="let element"
              [style.color] = "element.role=='admin'?'white':''"
              > {{element.studentId}} </td>
            </ng-container>
      
            <ng-container matColumnDef="birthDate">
              <th class="thhead" mat-header-cell *matHeaderCellDef style="width: 14%;"> Ngày sinh </th>
              <td class="tdh" mat-cell *matCellDef="let element"
              [style.color] = "element.role=='admin'?'white':''"
              > {{element.birthDate| date:'dd/MM/yyy'}} </td>
            </ng-container>
      
            <ng-container matColumnDef="phone">
              <th class="thhead" mat-header-cell *matHeaderCellDef style="width: 14%;"> Số điện thoại </th>
              <td class="tdh" mat-cell *matCellDef="let element"
              [style.color] = "element.role=='admin'?'white':''"
              > {{element.phone}} </td>
            </ng-container>
            
            <ng-container matColumnDef="online">
              <th class="thhead" mat-header-cell *matHeaderCellDef style="width: 14%;"> Online </th>
              <td class="tdh" mat-cell *matCellDef="let element"
              [style.color] = "element.role=='admin'?'white':''"
              > {{element.isOnline==true?'Online':'Offline'}} </td>
            </ng-container>
            <ng-container cdkColumnDef="action">
              <th  class="thhead" mat-header-cell *matHeaderCellDef>
                Action
              </th>
              <td class="tdh" mat-cell *matCellDef="let element">
                  <button mat-mini-fab (click) = "Update(element.studentId);" ><mat-icon style="color: white">edit</mat-icon></button>
                  <button mat-mini-fab (click) = "Open(element.studentId,'lock');"><mat-icon style="color: white">{{element.isLocked==true?'lock_open':'lock'}}</mat-icon></button>
                  <button mat-mini-fab (click) = "Open(element.studentId,'delete');" ><mat-icon style="color: white">delete</mat-icon></button>
              </td>
      
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row [style.background-color] = "element.role=='admin'?'green':'while'"
            *matRowDef="let row; columns: displayedColumns;let element"></tr>
          </table>
          <!-- element.role=='admin'?{background-color:'green'}:{} -->
        </div>
        <div>
                <mat-paginator [pageSizeOptions]="[ 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>