<mat-card >
  <span id="home">Câu lạc bộ tin học Trường Đại học Công Nghiệp Hà Nội (HIT)</span>
  <div id="navright">
      <button mat-button [matMenuTriggerFor]="menu">Tùy chọn</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Thông tin cá nhân</button>
        <button mat-menu-item (click) = "LogOut();">Đăng xuất({{name}})</button>
      </mat-menu>      
  </div>
</mat-card>

<div *ngIf = "!start"  class="but">
    <button  (click) = 'Start();'  mat-button style="background-color: green;text-align: center;color:white;font-weight: bold;height: 50px;width: 200px;">Bắt đầu</button>
</div>
<!-- <router-outlet ></router-outlet> -->
<app-play *ngIf = 'start' [socket] = 'socket'></app-play>
<!-- <a [routerLink] = "['/play']">Thang</a> -->