<h1 style="text-align: center" mat-dialog-title>Cập nhập người dùng</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Nội dung" [(ngModel)]='data.content'>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Đáp án A" [(ngModel)]='data.options[0].answer'>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Đáp án B" [(ngModel)]='data.options[1].answer'>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Đáp án C"  [(ngModel)]='data.options[2].answer'>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Đáp ấn D"  [(ngModel)]='data.options[3].answer'>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select [(ngModel)]='data.correctAnswer' placeholder="{{data.correctAnswer}}">
      <mat-option [value]='data.options[0].answer'>{{data.options[0].answer}}</mat-option>
      <mat-option [value]='data.options[1].answer'>{{data.options[1].answer}}</mat-option>
      <mat-option [value]='data.options[2].answer'>{{data.options[2].answer}}</mat-option>
      <mat-option [value]='data.options[3].answer'>{{data.options[3].answer}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Điểm số" type="text" [(ngModel)]='data.score' type="number">
  </mat-form-field>
  <br>

</div>
<div mat-dialog-actions>
  <button style="background-color: green;color: white" mat-button [mat-dialog-close]="data" cdkFocusInitial>Cập nhập</button>
  <button style="left:58%;background-color: red;color: white" mat-button (click)="onNoClick()">Đóng</button>

</div>
