
<mat-card *ngIf="!status" style="margin: 40px 400px">
  <h3>Bạn đã hoàn thành xong phần thi của mình. Cảm ơn bạn đã tham gia thi tuyển thành viên của câu lạc bộ Tin học HIT</h3>
</mat-card>
<div class="row" *ngIf = "status">
  <div id="scollbar" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <mat-accordion>
      <mat-expansion-panel style="margin-left: 20px">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Trắc nghiệm
          </mat-panel-title>
          <mat-panel-description>
            Bài kiểm tra EQ,IQ
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- <button *ngFor="let quest of listQ ; let i = index"  [class.selected]="quest === selectedHero" style="text-align: left" class="questionnav" mat-raised-button color="warn"><span style="font-weight: bold">{{i+1}}</span>  {{ quest.questionId.content|slice:0:30}}</button> -->
        <ul class="heroes">
            <li *ngFor="let quest of listQ;let i = index"
              [class.selected]="quest === selectedQuestion"
              [style.background-color]="quest.answered?'orange':''"
              [style.color]="quest.answered?'white':''"
              (click)="onSelect(quest,i)">
              <span class="badge">{{i+1}}</span> {{quest.questionId.content|slice:0:40}}
            </li>
          </ul>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" style="margin-left: 20px">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lập trình
          </mat-panel-title>
          <mat-panel-description>
            Lập trình căn bản
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button class="questionnav" mat-raised-button color="warn">Câu số 1</button>
        <button class="questionnav" mat-raised-button color="warn">Câu số 1</button>
        <button class="questionnav" mat-raised-button color="warn">Câu số 1</button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-9 col-lg-9">
    <mat-card  style="margin: 20px;margin-left: 0;height: 84vh;margin-top: 20px">
        <div style="text-align: center;width: 200px;margin-left: 40%">
            <mat-card style="text-align: center;background-color: orangered;color: white;font-weight: bold">
                <h2>{{timeDis.minute }} : {{timeDis.seconds }} </h2>
            </mat-card>
        </div>
     <div *ngIf  = "selectedQuestion">
        <mat-card-header style="margin-top: 20px">
            <mat-card style="width: 100%">
              <h3 style="text-align: center;">{{selectedQuestion.questionId.content}}</h3>
            </mat-card>
          </mat-card-header>
          <mat-card-content style="margin-left: 30px; margin-top: 30px">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                <button class="ans" mat-raised-button color="warn" 
                [style.background-color]="selectedQuestion.questionId.options[0].answer==selectedQuestion.answer?'orange':''"
                (click) = "SelectAns($event);"
                >{{selectedQuestion.questionId.options[0].answer}}</button>
                <button class="ans" mat-raised-button color="warn"
                [style.background-color]="selectedQuestion.questionId.options[1].answer==selectedQuestion.answer?'orange':''"
                (click) = "SelectAns($event);"
                >{{selectedQuestion.questionId.options[1].answer}}</button>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button class="ans" mat-raised-button color="warn"
                [style.background-color]="selectedQuestion.questionId.options[2].answer==selectedQuestion.answer?'orange':''"
                (click) = "SelectAns($event);"
                >{{selectedQuestion.questionId.options[2].answer}}</button>
                <button class="ans" mat-raised-button color="warn"
                [style.background-color]="selectedQuestion.questionId.options[3].answer==selectedQuestion.answer?'orange':''"
                (click) = "SelectAns($event);"
                >{{selectedQuestion.questionId.options[3].answer}}</button>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="row">
    
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div style="text-align: left;margin-left: 60px;">
                      <button [disabled]="setButton()===1" (click) = "Last();"  mat-raised-button color="warn">Trước</button>
                  </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <!-- <div style="text-align: center">
                      <button   mat-raised-button color="warn">Gửi câu trả lời</button>
                  </div> -->
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div style="text-align: right;margin-right: 60px">
                      <button [disabled]="setButton()===2" (click) = "Next();" mat-raised-button color="warn">Sau</button>
                  </div>
              </div>
    
            </div>
          </mat-card-actions>
     </div>
    </mat-card>
  </div>

</div>